.form-container {
    display: flex;
    flex-direction: row;
}
.form {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    text-transform: uppercase;
    border-radius: 50%;
}

.win {
    background-color: #13cf00;
}

.lose {
    background-color: #d81820;
}